/* static/styles.css */
body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    max-width: 400px;
}
